.footer {
  background: $dark-color;
  padding: 0 0 100px;
  .footer-contents {
    padding-top: 80px;
    .footer-social {
      a {
        display: inline-block;
        font-size: 1.5em;
      }
    }
  }
  h5 {
    color: $white;
    a {
      margin: 0;
    }
  }
  .builtby {
    p, svg {
      display: inline-block;
    }
  }
  p {
    color: $gray-color;
    font-size: 0.8em;
    margin: 15px 0;
  }
  a {
    color: $white;
    display: block;
    &:hover {
      color: $highlight-color;
      cursor: pointer;
    }
  }
}